.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-custom {
  background-color: #007bff;
}

.btn-custom:hover {
  background-color: #0069d9;
}

label {
  font-weight: bold;
}
